.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    font-family: Roboto, sans-serif;
}

table, tr, thead, tbody, th, td {
    border: 1px solid black;
}

th {
    text-transform: uppercase;
}